{% extends 'base.html.twig' %}

{% block title %} Dealgames - Home {% endblock title %}

{% block header %}
<!-- Navbar -->
<nav class="navbar  navbar-expand border-bottom border-2 border-light">
  <div class="container-fluid">
    <h2 class="font-nav px-4">Dealgames</h2>
    <form action="/annonce/create" method="GET">
      <button class="navbar-left btn btn-outline-danger" type="sumbit"> + Déposer une annonce</button>
    </form>

    <div class="collapse navbar-collapse">
      <div class="navbar-nav px-2 me-auto">
        <a class="nav-link h5 text-white px-3" aria-current="page" href="#">Acceuil</a>
        <a class="nav-link h5 text-white px-3" href="/annonce">Annonces</a>
        <a class="nav-link h5 text-white" href="#">A propos</a>
      </div>
    </div>
    <button class="navbar-right btn btn-outline-danger" type="button">Se connecter</button>
  </div>

</nav>
<!-- Navbar -->


{% endblock %}


{% block body %}
<section class="resume">
  <div class="section-title text-center text-white p-5">
    <h1 class="">Top Catégories</h1>
    <hr class="">
  </div>
  <section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Consoles</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Accesoires</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../img/imgprojet2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Jeux</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section-title text-center text-white p-5">
    <h1 class="">Annonces recents</h1>
    <hr class="">
  </div>
</section>

<section class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for annonce in annonces %}
    <div class="col-md-3">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ annonce.title }}</h5>
          <p class="card-text">{{ annonce.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}